body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:176px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:252px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:315px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:389px;
  top:60px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:136px;
  top:66px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:162px;
  top:180px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:287px;
  top:126px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:315px;
  top:100px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:286px;
  top:764px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:198px;
  top:297px;
  width:263px;
  height:113px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:113px;
}
#u19 {
  position:absolute;
  left:2px;
  top:48px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:359px;
  top:206px;
  width:48px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:431px;
  top:206px;
  width:48px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:414px;
  top:204px;
  width:21px;
  height:21px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:339px;
  top:201px;
  width:22px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:225px;
  top:427px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:225px;
  top:487px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:225px;
  top:547px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:373px;
  top:425px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:373px;
  top:485px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:373px;
  top:545px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:174px;
  top:190px;
  width:51px;
  height:44px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:429px;
  top:580px;
  width:49px;
  height:50px;
  opacity:0.400000005960464;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:429px;
  top:512px;
  width:51px;
  height:50px;
  opacity:0.400000005960464;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:169px;
  top:601px;
  width:308px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:4px;
  width:308px;
  height:3px;
}
#u47 {
  position:absolute;
  left:175px;
  top:619px;
  width:50px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:233px;
  top:656px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:235px;
  top:619px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#333333;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:278px;
  top:656px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:336px;
  top:656px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:433px;
  top:653px;
  width:17px;
  height:18px;
  font-size:14px;
  color:#333333;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:383px;
  top:656px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#333333;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:224px;
  top:641px;
  width:237px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:220px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:237px;
  height:3px;
}
#u62 {
  position:absolute;
  left:226px;
  top:688px;
  width:50px;
  height:50px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:357px;
  top:686px;
  width:50px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:162px;
  top:709px;
  width:320px;
  height:40px;
}
#u66_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:46px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:45px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u68_img.selected {
}
#u68.selected {
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u68_img.mouseDown {
}
#u68.mouseDown {
}
#u69 {
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:111px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u70_img.selected {
}
#u70.selected {
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u70_img.mouseDown {
}
#u70.mouseDown {
}
#u71 {
  position:absolute;
  left:2px;
  top:13px;
  width:101px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:216px;
  top:0px;
  width:104px;
  height:40px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u72_img.selected {
}
#u72.selected {
}
#u72_img.mouseOver {
}
#u72.mouseOver {
}
#u72_img.mouseDown {
}
#u72.mouseDown {
}
#u73 {
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:259px;
  visibility:hidden;
}
#u74_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:265px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:264px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u76_img.selected {
}
#u76.selected {
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u76_img.mouseDown {
}
#u76.mouseDown {
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u78_img.selected {
}
#u78.selected {
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u78_img.mouseDown {
}
#u78.mouseDown {
}
#u79 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u80_img.selected {
}
#u80.selected {
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u80_img.mouseDown {
}
#u80.mouseDown {
}
#u81 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:19px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u82_img.selected {
}
#u82.selected {
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u82_img.mouseDown {
}
#u82.mouseDown {
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:79px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u84_img.selected {
}
#u84.selected {
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u84_img.mouseDown {
}
#u84.mouseDown {
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:99px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u86_img.selected {
}
#u86.selected {
}
#u86_img.mouseOver {
}
#u86.mouseOver {
}
#u86_img.mouseDown {
}
#u86.mouseDown {
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:119px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u88_img.selected {
}
#u88.selected {
}
#u88_img.mouseOver {
}
#u88.mouseOver {
}
#u88_img.mouseDown {
}
#u88.mouseDown {
}
#u89 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:139px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u90_img.selected {
}
#u90.selected {
}
#u90_img.mouseOver {
}
#u90.mouseOver {
}
#u90_img.mouseDown {
}
#u90.mouseDown {
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:159px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u92_img.selected {
}
#u92.selected {
}
#u92_img.mouseOver {
}
#u92.mouseOver {
}
#u92_img.mouseDown {
}
#u92.mouseDown {
}
#u93 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:179px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u94_img.selected {
}
#u94.selected {
}
#u94_img.mouseOver {
}
#u94.mouseOver {
}
#u94_img.mouseDown {
}
#u94.mouseDown {
}
#u95 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:199px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u96_img.selected {
}
#u96.selected {
}
#u96_img.mouseOver {
}
#u96.mouseOver {
}
#u96_img.mouseDown {
}
#u96.mouseDown {
}
#u97 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:219px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u98_img.selected {
}
#u98.selected {
}
#u98_img.mouseOver {
}
#u98.mouseOver {
}
#u98_img.mouseDown {
}
#u98.mouseDown {
}
#u99 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:239px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u100_img.selected {
}
#u100.selected {
}
#u100_img.mouseOver {
}
#u100.mouseOver {
}
#u100_img.mouseDown {
}
#u100.mouseDown {
}
#u101 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:111px;
  top:40px;
  width:100px;
  height:80px;
  visibility:hidden;
}
#u102_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:86px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u104_img.selected {
}
#u104.selected {
}
#u104_img.mouseOver {
}
#u104.mouseOver {
}
#u104_img.mouseDown {
}
#u104.mouseDown {
}
#u105 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u106_img.selected {
}
#u106.selected {
}
#u106_img.mouseOver {
}
#u106.mouseOver {
}
#u106_img.mouseDown {
}
#u106.mouseDown {
}
#u107 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u108_img.selected {
}
#u108.selected {
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u108_img.mouseDown {
}
#u108.mouseDown {
}
#u109 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u110_img.selected {
}
#u110.selected {
}
#u110_img.mouseOver {
}
#u110.mouseOver {
}
#u110_img.mouseDown {
}
#u110.mouseDown {
}
#u111 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:216px;
  top:40px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u112_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u114_img.selected {
}
#u114.selected {
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u114_img.mouseDown {
}
#u114.mouseDown {
}
#u115 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u116_img.selected {
}
#u116.selected {
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u116_img.mouseDown {
}
#u116.mouseDown {
}
#u117 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u118_img.selected {
}
#u118.selected {
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u118_img.mouseDown {
}
#u118.mouseDown {
}
#u119 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:333px;
  top:205px;
}
#u120_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
}
#u121_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  overflow:hidden;
}
#u122_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u122_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123 {
  position:absolute;
  left:344px;
  top:200px;
  width:126px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:130px;
  top:176px;
  width:8px;
  height:36px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:130px;
  top:252px;
  width:8px;
  height:27px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:130px;
  top:315px;
  width:8px;
  height:27px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:389px;
  top:60px;
  width:60px;
  height:10px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:136px;
  top:66px;
  width:372px;
  height:796px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u133 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:162px;
  top:180px;
  width:320px;
  height:568px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u135 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:287px;
  top:126px;
  width:70px;
  height:14px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:315px;
  top:100px;
  width:14px;
  height:14px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:286px;
  top:764px;
  width:72px;
  height:72px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u141 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:165px;
  top:413px;
  width:312px;
  height:296px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:185px;
  top:246px;
  width:285px;
  height:35px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:45px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:443px;
  top:253px;
  width:21px;
  height:23px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
#u46_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end.a {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:308px;
  height:3px;
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u61_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end.a {
  position:absolute;
  left:220px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:237px;
  height:3px;
}
#u62.a {
}
#u64.a {
}
#u66.a {
}
#u120.a {
  position:absolute;
  left:333px;
  top:205px;
}
#u121.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u122.a {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u123.a {
}
#u124.a {
}
#u126.a {
}
#u128.a {
}
#u130.a {
}
#u132.a {
}
#u134.a {
}
#u136.a {
}
#u138.a {
}
#u140.a {
}
#u122_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u142.a {
}
#u143.a {
}
#u145.a {
}
